/* Coolors Exported Palette - coolors.co/dd614a-f48668-c5c392-cb769e-73a580 */

/* HSL */
$color1: hsla(9%, 68%, 58%, 1);
$color2: hsla(13%, 86%, 68%, 1);
$color3: hsla(58%, 31%, 67%, 1);
$color4: hsla(332%, 45%, 63%, 1);
$color5: hsla(136%, 22%, 55%, 1);

/* RGB */
$color1: rgba(221, 97, 74, 1);
$color2: rgba(244, 134, 104, 1);
$color3: rgba(197, 195, 146, 1);
$color4: rgba(203, 118, 158, 1);
$color5: rgba(115, 165, 128, 1);