$text-primary: #fab0ee;
$text-secondary: rgb(255, 0, 242);
$grey: rgba(255, 157, 255, 0.363);
$bg-primary: rgba(96, 0, 70, 0.3);
$bg-secondary: rgba(195, 0, 255, 0.308);
$shadow: rgb(195, 0, 255);
$speed: 600ms;

$lines: #df00f3;