.love-theme{
    $love-text-primary: rgba(158, 0, 50, 1);
    $love-text-secondary: rgba(142, 0, 69, 1);
    $love-grey: rgb(54, 10, 42);
    $love-bg-primary: rgba(96, 0, 70, 0.3);
    $love-bg-secondary: rgba(68, 0, 26, 0.308);
}